* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(204, 161, 81);
}

h1 {
    color: rgb(0, 0, 0);
    margin: 20px;
}

.parrafo {
    font-size: 20px;
}

li {
    font-size: 25px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
    padding: 20px;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: red;
    margin: 0 20px;

}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black 5px solid;
    margin: 20px;
}

.boton {
    margin: 20px 10px;
    padding: 20px;
    background-color: lightblue;
    border-radius: black;
}
